
header {

    height: 15vh;
   
       
    
    #mobheader {

        width: 100%;
        display: flex;
        align-items: center;

        @media(min-width:768px){
                display: none;
            }
       
        
                /* Style the navigation menu */
        .topnav {
            overflow: hidden;
            background-color: white;
            position: relative;
            width: 100%;
            height: 100%;
            align-items: center;

            #myLinks a {
                font-family: $raleway;    
            }

            div {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                img {
                    width: 5em;
                    height: 2.6em;
                }
                h1 {
                    font-family: $raleway;
                    font-weight: 900;
                }
                #sign {
                    background-color: $primcolor;
                    font-family: 'Raleway';
                    font-weight: 800;
                    color: white;
                    padding-inline: 0.813em;
                    padding-block: 0.375em;
                    margin-left: 2.375em;
                } 
            }
            
        }
        
        /* Hide the links inside the navigation menu (except for logo/home) */
        .topnav #myLinks {
            display: none;
            background-color: $primcolor;
        }
        
        /* Style navigation menu links */
        .topnav a {
            color: rgb(0, 0, 0);
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: $raleway;
            font-weight: 800;
            display:inline-block;
        }
        
        /* Style the hamburger menu */
        .topnav a.icon {
            display: block;
            position: absolute;
            top: 35px;
        }
        
        /* Add a grey background color on mouse-over */
        .topnav a:hover {
           
            color: black;
        }
        
    }

    #lheader {
        width: 85%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 992px) {
            display: none;
        }

        div {
            display: flex;
            align-items: center;
            width: 40%; 
            h1 {
                font-family: $raleway;
                font-weight: 900;
                font-size: 2.188em;
            }
            img {
                width: 8.063em;
                height: 4.031em;
            }
        }

        nav {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                width: 65%;
                display: flex;
                list-style: none;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: black;
                    font-family: $raleway;
                    font-weight: 800;
                    font-size: 1.063em;
                    letter-spacing: 1.27px;
                    position: relative;
                }       
                a::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -8px;
                    width: 100%;
                    height: 5px;
                    background-color: $primcolor;
                    transform-origin: center;
                    transform: translate(-50%, 0) scaleX(0);
                    transition: transform 0.3s ease-in-out;
                    }
                      
                    a:hover::before {
                    transform: translate(-50%, 0) scaleX(1);
                    }
                
            }
            .btn {
                text-decoration: none;
                background-color: $primcolor;
                color: white;
                font-family: $raleway;
                font-weight: 800;
                padding-inline: 20px;
                padding-block: 11px;
                letter-spacing: 1.27px;


            }
            
        }

    }
}