@mixin bouton ($bg , $color, $pl: 30px) {
    background-color: $bg;
    font-size: 21px;
    font-family: $raleway;
    font-weight: 900;
    padding-inline: $pl;
    padding-block: 20px;
    text-decoration: none;
    color: $color;
    white-space: nowrap;
    @media screen and (min-width: 768px) and (max-width: 991px){
        font-size: 1em;
        padding-block: 12px;
    }
}

@mixin h2xl ($c: white) {
    color: $c;
    font-family: $play;
    font-size: 3.8em;
    font-weight: 900;
    @media screen and (min-width: 768px) and (max-width: 991px){
        font-size: 2.5em;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
        font-size: 3em;
    }
}

@mixin h2m {
    font-family: $play;
    font-size: 3em;
    font-weight: 900;
    @media screen and (min-width: 768px) and (max-width: 991px){
        font-size: 1.8em;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
        font-size: 2.5em;
    }
}


@mixin par ($fs) {
    font-family: $raleway;
    font-size: $fs;
    line-height: 1.625em;
    font-weight: 500;
    @media screen and (min-width: 768px) and (max-width: 991px){
        font-size: 1em;
    }
}



