@import 'variables';
@import 'mixin';
@import 'header';
@import 'footer';

body {

    #hero {
        height: 80vh;
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: 575px) {
            height: 70vh;
        }
        @media (min-width: 576px) and (max-width: 767px){
            height: 100vh;
        }

        #blochero {
            display: flex;
            width: 75%;
            height: 80%;
            margin: auto;
            justify-content: flex-end;
            @media (max-width: 575px) {
                margin-block: 0;
            }
            @media (min-width: 360px) and (max-width: 767px){
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                width: 90%;
            }

            article {
                position: absolute;
                top:16%;
                right: 51%;
                width: 36%;
                @media (min-width: 360px) and (max-width: 767px){
                    width: 95%;
                    right: 4%;
                    top: 4%;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    width: 40%;
                    top: 12%;
                    right: 55%;
                }
                h2 {
                    @include h2xl(black);
                    margin-block: 0;
                }
                p {
                    @include par (1.4em);
                    @media (max-width: 575px) {
                        font-size: 1em;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        font-size: 2em;
                        margin-block: 50px;
                    }
                }

                div {
                    margin-top: 50px;
                    display: flex;
                    @media (min-width: 360px) and (max-width: 767px){
                        flex-direction: column;
                        width: 50%;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        margin-top: 40px;
                    }
                    
                    #trynow {
                      @include bouton ($primcolor,white, 55px);
                      @media (min-width: 768px) and (max-width: 991px){
                        padding-inline: 35px;
                      }   
                    }
                    #getademo {
                        @include bouton (white,$primcolor, 40px);
                        margin-left: 45px;
                        box-shadow: inset 0 0 0 3px $primcolor;
                        @media (min-width: 360px) and (max-width: 767px){
                            margin-left: initial;
                        }
                        @media (min-width: 768px) and (max-width: 991px){
                            padding-inline: 28px;
                            margin-left: 35px;
                        }
                    }
                }
                
            }

            div {
                width: 70%;
                @media (min-width: 360px) and (max-width: 767px){
                width: 100%;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    width: 68%;
                }
                img {
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        } 
    }

    #page1 {
        height: 90vh;
        @media (max-width: 575px) {
            height: 50vh;
        }
        @media (min-width: 576px) and (max-width: 767px){
            height: 60vh;
        }
        @media (min-width: 768px) and (max-width: 991px){
            height: 70vh;
        }
        @media (min-width: 992px) and (max-width: 1199px){
            height: 80vh;
        }
        
        

        #blocp1 {
            height: 80%;
            width: 60%;
            margin: auto;
            background-image: url("../assets/video.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            text-align: center;
            @media (max-width: 575px) {
                height: 70%;
                width: 100%;
            }
            @media (min-width: 576px) and (max-width: 767px){
                width: 100%;
                height: 80%;
            }
            @media (min-width: 768px) and (max-width: 991px){
                width: 90%;
            }
            @media (min-width: 992px) and (max-width: 1199px){
                width: 80%;
            }
            

            div {
                align-self: center;
                margin: auto;

                h2 {
                    @include h2xl;
                    padding-bottom: 60px;
                    @media (max-width: 575px) {
                        font-size: 2em;
                        padding-bottom: initial;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        font-size: 3.4em;
                        padding-bottom: initial;
                    }
                }

                a {
                    @include bouton (white, $primcolor);
                    padding-bottom: 20px;
                  @media (min-width: 360px) and (max-width: 767px){
                    padding-block: 20px;
                    font-size: 21px;
                  }
                }
            }
        }
    } 

    #page2 {
        height: 100vh;
        @media (max-width: 575px) {
            height: 220vh;
        }
        @media (min-width: 576px) and (max-width: 767px){
            height: 280vh;
        }
        @media (min-width: 768px) and (max-width: 991px){
            height: 70vh;
        }

        #blocp2 {
            width: 80%;
            height: 60%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            @media (min-width: 360px) and (max-width: 767px){
                flex-direction: column;
                width: 70%;
                height: 90%;
            }
            @media (min-width: 768px) and (max-width: 991px){
                width: 90%;
            }

            .sblocp2 {
                width: 30%; 
                height: 100%;
                position: relative;
                @media (min-width: 360px) and (max-width: 767px){
                    width: 100%;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    height: 75%;
                }

                .imgp2 { 
                    img {
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 100%;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 15px 0px;
                    }
                }

                .carte {
                    position: absolute;
                    bottom: -20px;
                    background-color: white;
                    height: 45%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                  @media (min-width: 360px) and (max-width: 767px){
                    height: 35%;
                    bottom: 150px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 15px 0px;
                  }
                    @media (min-width: 768px) and (max-width: 991px){
                        height: 70%;
                        bottom: -75px;
                        bottom: -120px;
                    }
                    div {
                        width: 90%;
                        margin: auto;
                        @media (min-width: 360px) and (max-width: 767px){
                            width: 80%;
                        }
                        @media (min-width: 768px) and (max-width: 991px){
                            width: 80%;
                        }
                        a {
                            text-decoration: none;
                            color: $primcolor;
                            font-family: $raleway;
                            font-weight: 800;
                            font-size: 1.2em;
                            @media (max-width: 575px) {
                                font-size: 1em;
                                margin-top: 0;
                            }
                            @media (min-width: 576px) and (max-width: 767px){
                                font-size: 2em;
                            }
                        }
                        p {
                            @include par (1.4em);
                            @media (max-width: 575px) {
                                font-size: 1em;
                                margin-bottom: 5px;
                            }
                            @media (min-width: 576px) and (max-width: 767px){
                                font-size: 1.8em;
                                line-height: normal;
                                margin-bottom: 15px;
                          }
                        }
                    }
                }
            }

            article {
                width: 30%;
              @media (min-width: 360px) and (max-width: 767px){
                width: 100%;
              }
                h2 {
                    @include h2m;
                    line-height: 48px;
                    margin-top: 18px;
                    @media (max-width: 575px) {
                        font-size: 2em;
                        line-height: normal;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        line-height: 65px;
                        font-size: 3.8em;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        line-height: 31px;
                    }
                }
                 
                p {
                    @include par (1.6em);
                    @media (max-width: 575px) {
                        font-size: 1.3em;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        font-size: 2em;
                        line-height: normal;
                    }
                }
                
            }

        }
    }

    #page3 {
        height: 120vh;
        @media (max-width: 575px) {
            height: 300vh;
        }
        @media (min-width: 576px) and (max-width: 767px){
            height: 300vh;
        }
        @media (min-width: 768px) and (max-width: 991px){
            height: 80vh;
        }
        @media (min-width: 992px) and (max-width: 1199px){
            height: 100vh;
        }

        #blocp3 {
            width: 80%;
            height: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: 360px) and (max-width: 767px){
                justify-content: space-around;
            }
            @media (min-width: 768px) and (max-width: 991px){
                width: 90%;
            }
            @media (min-width: 992px) and (max-width: 1199px){
                width: 90%;
            }
            #sblocimg {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 35%;
                @media (max-width: 575px) {
                    width: 90%;
                    height: 35%;
                    flex-direction: column;
                    margin: auto;
                    justify-content: space-evenly;
                    margin-block: 0;
                }
                @media (min-width: 576px) and (max-width: 767px){
                    width: 90%;
                    height: 50%;
                    flex-direction: column;
                    margin: auto;
                    justify-content: space-between;
                    margin-block: 0;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    height: 30%;
                }

                .imgcont {
                    position: relative;
                    width: 30%;
                    @media (max-width: 575px) {
                        width: 100%;
                    }
                    @media  (min-width: 576px) and (max-width: 767px){
                        width: 100%;
                        height: 30%;
                    }
                    img {
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 100%;
                    }
                    div {
                        position: absolute;
                        bottom: 30%;
                        left: 10%;
                        @media (min-width: 768px) and (max-width: 991px){
                            bottom: 42%;
                        }
                        @media(min-width: 992px) and (max-width: 1199px){
                            bottom: 50%;
                        }
                        h5 {
                            font-family: $raleway;
                            font-weight: 900;
                            font-size: 2.125em;
                            color: white;
                            margin-bottom: 0;
                            @media  (min-width: 768px) and (max-width: 991px){
                                font-size: 1.4em;
                            }
                            @media (min-width: 992px) and (max-width: 1199px){
                                font-size: 1.6em;
                            }
                        }
                        span {
                            font-family: $raleway;
                            font-weight: 700;
                            color: white;
                            font-size: 1.188em;
                            @media (min-width: 768px) and (max-width: 991px){
                                font-size: 0.8em;
                            }
                            @media (min-width: 992px) and (max-width: 1199px){
                                font-size: 1em;
                            }
                        }
                    }
                }
            }

            #sblocp31 {
                width: 80%;
                display: flex;
                flex-direction: column;
                @media (max-width: 575px) {
                    height: 30%;
                }
                @media (min-width: 360px) and (max-width: 767px){
                    width: 100%;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    width: 60%;
                }
                h2 {
                    @include h2m;
                    text-align: center;
                    @media (max-width: 575px) {
                        font-size: 2.2em;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        font-size: 3.8em;
                    }
                }

                div {
                    width: 75%;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    align-items: center;
                    @media (min-width: 360px) and (max-width: 767px){
                        flex-direction: column;
                        text-align: center;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        width: 90%;
                        height: 80%;
                    }
                    input {
                        width: 60%;
                        vertical-align: middle;
                        margin: 0px 16px 0px 0;
                        padding: 16px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-color: #9F9F9F;
                        border-radius: 5px;
                        font-size: 1.8em;
                        @media (min-width: 360px) and (max-width: 767px){
                            width: 100%;
                            padding: 16px;
                            margin-bottom: 30px;
                        }
                        @media (min-width: 768px) and (max-width: 991px){
                            font-size: 1em;
                            padding: 12px;
                        }
                    }
                    button { 
                        @include bouton ($primcolor, white);
                        border: none;
                      @media (min-width: 360px) and (max-width: 767px){
                        font-size: x-large;
                      }
                    }
                }

                span {
                    color: $primcolor;
                    font-size: 1.6em;
                    font-family: $raleway; 
                    margin-top: 20px;
                    margin-left: 140px;
                    @media (min-width: 360px) and (max-width: 767px){
                        text-align: center;
                        margin: auto;
                        margin-top: 10px;
                    }
                    @media (min-width: 768px) and (max-width: 991px){
                        font-size: 0.875em;
                    }
                }
            }

            #sblocp32 {
                width: 80%;
                display: flex;
                flex-direction: column;
                @media (max-width: 575px) {
                    height: 30%;
                    width: 100%;
                    margin-top: 100px;
                }
                @media (min-width: 576px) and (max-width: 767px){
                    width: 100%;
                    margin-top: 100px;
                }
                @media (min-width: 768px) and (max-width: 991px){
                    width: 100%;
                }
                @media (min-width: 992px) and (max-width: 1199px){
                    width: 90%;
                }
                
                h2 {
                    @include h2m;
                    text-align: center;
                    margin-bottom: 60px;
                    @media (max-width: 575px) {
                        font-size: 2.2em;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        font-size: 3.8em;
                    }
                }

                #sbloclogos {
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: 575px) {
                        width: 90%;
                        margin: auto;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    @media (min-width: 576px) and (max-width: 767px){
                        width: 80%;
                        margin: auto;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    
                    
                    div {
                        @media (min-width: 360px) and (max-width: 767px){
                            width: 50%;
                            align-items: center;   
                        }
                        #dragon, #radio {
                            @media (max-width: 575px) {
                                margin-left: 40px;
                                margin-bottom: 40px;
                            }
                            @media (min-width: 576px) and (max-width: 767px){
                                margin-left: 120px;
                                margin-bottom: 40px;
                            }
                        }
                        #game {
                            @media (max-width: 575px) {
                                margin-left: 10px;
                            }
                            @media (min-width: 576px) and (max-width: 767px){
                                margin-left: 60px;
                            }
                        }
                        
                        img {
                            @media (min-width: 360px) and (max-width: 767px){
                                max-width: 100%;
                                max-height: 120%;  
                            }
                        }
                    }
                }
            }
        }
    }

    #page4 {
        height: 45vh;
        background-color: $primcolor;
        text-align: center;
        display: flex;
        flex-direction: column;
        @media (min-width: 360px) and (max-width: 767px){
            height: 60vh;
        }

        div {
            margin: auto;
            display: flex;
            flex-direction: column;
            @media (min-width: 360px) and (max-width: 767px){
                width: 80%;
            }

            h2 {
                @include h2xl;
                margin-top: 0;
            }

            a {
                @include bouton (white, $primcolor);
                width: 30%;
                margin: auto;
                @media (max-width: 575px) {
                    padding-right: 60px;
                }
                @media (min-width: 576px) and (max-width: 767px){
                    padding-block: 20px;
                    font-size: 21px;
                }
            }
        }
    }
}