header {
  height: 30vh;
}
@media (max-width: 575px) {
  header {
    height: 35vh;
  }
}
header #mobheader {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  header #mobheader {
    display: none;
  }
}
header #mobheader .topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}
header #mobheader .topnav a:hover {
  color: black;
}
header #mobheader .topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  display: inline-block;
}
header #mobheader .topnav a.icon {
  display: block;
  position: absolute;
  top: 95px;
  left: 8%;
}
@media (max-width: 575px) {
  header #mobheader .topnav a.icon {
    top: 66px;
  }
}
header #mobheader .topnav .fa {
  font-size: xx-large;
}
header #mobheader .topnav #myLinks {
  display: none;
  background-color: #4BA87D;
}
header #mobheader .topnav #myLinks a {
  font-family: "Raleway", sans-serif;
  font-size: xx-large;
}
@media (max-width: 575px) {
  header #mobheader .topnav #myLinks a {
    font-size: large;
  }
}
header #mobheader .topnav #mainnav {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  header #mobheader .topnav #mainnav {
    margin-bottom: 30px;
  }
}
header #mobheader .topnav #mainnav div {
  height: 100%;
}
@media (max-width: 575px) {
  header #mobheader .topnav #mainnav div {
    width: 30%;
  }
}
header #mobheader .topnav #mainnav div img {
  max-width: 130%;
  min-width: 130%;
  max-height: 130%;
}
header #mobheader .topnav #mainnav h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 3em;
}
@media (max-width: 575px) {
  header #mobheader .topnav #mainnav h1 {
    font-size: 1.6em;
  }
}
header #mobheader .topnav #mainnav #sign {
  background-color: #4BA87D;
  font-family: "Raleway";
  font-weight: 800;
  color: white;
  padding-inline: 0.813em;
  padding-block: 0.375em;
  margin-left: 2.375em;
  font-size: 1.8em;
  white-space: nowrap;
}
@media (max-width: 575px) {
  header #mobheader .topnav #mainnav #sign {
    font-size: 1em;
  }
}
header #lheader {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header #lheader {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  header #lheader {
    width: 100%;
  }
}
header #lheader div {
  display: flex;
  align-items: center;
  width: 40%;
}
header #lheader div h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.6em;
}
@media (min-width: 768px) and (max-width: 991px) {
  header #lheader div h1 {
    font-size: 1.5em;
  }
}
header #lheader div img {
  width: 8.063em;
  height: 4.031em;
}
header #lheader nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1199px) {
  header #lheader nav {
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header #lheader nav {
    justify-content: unset;
  }
}
header #lheader nav ul {
  width: 65%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 991px) {
  header #lheader nav ul {
    justify-content: space-around;
  }
}
header #lheader nav ul a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 1.27px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  header #lheader nav ul a {
    font-size: 0.75em;
  }
}
header #lheader nav ul a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 100%;
  height: 5px;
  background-color: #4BA87D;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header #lheader nav ul a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
header #lheader nav .btn {
  text-decoration: none;
  background-color: #4BA87D;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  padding-inline: 20px;
  padding-block: 11px;
  letter-spacing: 1.27px;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 991px) {
  header #lheader nav .btn {
    font-size: 0.75em;
  }
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 575px) {
  footer {
    height: 140vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  footer {
    height: 120vh;
  }
}
footer #blocf {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf {
    height: 90%;
    justify-content: space-around;
  }
}
footer #blocf #sblocf1 {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: space-between;
  border-bottom: solid;
  border-width: 2px;
  border-color: #DBDBDB;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
footer #blocf #sblocf1 #logo {
  display: flex;
  align-items: center;
  align-self: baseline;
  width: 40%;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf1 #logo {
    width: 100%;
    justify-content: center;
  }
}
footer #blocf #sblocf1 #logo span {
  font-size: 1.875em;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf1 #logo span {
    font-size: 1.4em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer #blocf #sblocf1 #logo span {
    font-size: 1.5em;
  }
}
footer #blocf #sblocf1 #linklist {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf1 #linklist {
    flex-direction: column;
  }
}
footer #blocf #sblocf1 #linklist ul {
  list-style: none;
}
footer #blocf #sblocf1 #linklist ul li {
  margin-bottom: 10px;
}
footer #blocf #sblocf1 #linklist ul li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: black;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf1 #linklist ul li a {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer #blocf #sblocf1 #linklist ul li a {
    font-size: 1em;
  }
}
footer #blocf #sblocf2 {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf2 {
    flex-direction: column;
    text-align: center;
    height: 30%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer #blocf #sblocf2 {
    padding-bottom: 25px;
  }
}
footer #blocf #sblocf2 * {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf2 * {
    font-size: 1em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer #blocf #sblocf2 * {
    font-size: 0.7em;
  }
}
footer #blocf #sblocf2 span {
  width: 60%;
}
@media (min-width: 360px) and (max-width: 767px) {
  footer #blocf #sblocf2 span {
    width: 100%;
  }
}
footer #blocf #sblocf2 a {
  text-decoration: none;
  color: black;
}

body #hero {
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 575px) {
  body #hero {
    height: 70vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #hero {
    height: 100vh;
  }
}
body #hero #blochero {
  display: flex;
  width: 75%;
  height: 80%;
  margin: auto;
  justify-content: flex-end;
}
@media (max-width: 575px) {
  body #hero #blochero {
    margin-block: 0;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #hero #blochero {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero {
    width: 90%;
  }
}
body #hero #blochero article {
  position: absolute;
  top: 16%;
  right: 51%;
  width: 36%;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #hero #blochero article {
    width: 95%;
    right: 4%;
    top: 4%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article {
    width: 40%;
    top: 12%;
    right: 55%;
  }
}
body #hero #blochero article h2 {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 3.8em;
  font-weight: 900;
  margin-block: 0;
}
@media (max-width: 575px) {
  body #hero #blochero article h2 {
    font-size: 2.8em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #hero #blochero article h2 {
    font-size: 5.5em;
    line-height: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #hero #blochero article h2 {
    font-size: 3em;
  }
}
body #hero #blochero article p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  line-height: 1.625em;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article p {
    font-size: 1em;
  }
}
@media (max-width: 575px) {
  body #hero #blochero article p {
    font-size: 1em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #hero #blochero article p {
    font-size: 2em;
    margin-block: 50px;
  }
}
body #hero #blochero article div {
  margin-top: 50px;
  display: flex;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #hero #blochero article div {
    flex-direction: column;
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article div {
    margin-top: 40px;
  }
}
body #hero #blochero article div #trynow {
  background-color: #4BA87D;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 55px;
  padding-block: 20px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
@media (max-width: 575px) {
  body #hero #blochero article div #trynow {
    text-align: center;
    padding-inline: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #hero #blochero article div #trynow {
    text-align: center;
    font-size: xx-large;
    padding-block: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article div #trynow {
    font-size: 1em;
    padding-block: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article div #trynow {
    padding-inline: 35px;
  }
}
body #hero #blochero article div #getademo {
  background-color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 40px;
  padding-block: 20px;
  text-decoration: none;
  color: #4BA87D;
  white-space: nowrap;
  margin-left: 45px;
  box-shadow: inset 0 0 0 3px #4BA87D;
}
@media (max-width: 575px) {
  body #hero #blochero article div #getademo {
    text-align: center;
    padding-inline: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #hero #blochero article div #getademo {
    text-align: center;
    font-size: xx-large;
    padding-block: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article div #getademo {
    font-size: 1em;
    padding-block: 12px;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #hero #blochero article div #getademo {
    margin-left: initial;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero article div #getademo {
    padding-inline: 28px;
    margin-left: 35px;
  }
}
body #hero #blochero div {
  width: 70%;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #hero #blochero div {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #hero #blochero div {
    width: 68%;
  }
}
body #hero #blochero div img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body #page1 {
  height: 90vh;
}
@media (max-width: 575px) {
  body #page1 {
    height: 50vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page1 {
    height: 60vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page1 {
    height: 70vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page1 {
    height: 80vh;
  }
}
body #page1 #blocp1 {
  height: 80%;
  width: 60%;
  margin: auto;
  background-image: url("../assets/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  text-align: center;
}
@media (max-width: 575px) {
  body #page1 #blocp1 {
    height: 70%;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page1 #blocp1 {
    width: 100%;
    height: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page1 #blocp1 {
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page1 #blocp1 {
    width: 80%;
  }
}
body #page1 #blocp1 div {
  align-self: center;
  margin: auto;
}
body #page1 #blocp1 div h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3.8em;
  font-weight: 900;
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  body #page1 #blocp1 div h2 {
    font-size: 2.8em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page1 #blocp1 div h2 {
    font-size: 5.5em;
    line-height: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page1 #blocp1 div h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page1 #blocp1 div h2 {
    font-size: 3em;
  }
}
@media (max-width: 575px) {
  body #page1 #blocp1 div h2 {
    font-size: 2em;
    padding-bottom: initial;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page1 #blocp1 div h2 {
    font-size: 3.4em;
    padding-bottom: initial;
  }
}
body #page1 #blocp1 div a {
  background-color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 30px;
  padding-block: 20px;
  text-decoration: none;
  color: #4BA87D;
  white-space: nowrap;
  padding-bottom: 20px;
}
@media (max-width: 575px) {
  body #page1 #blocp1 div a {
    text-align: center;
    padding-inline: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page1 #blocp1 div a {
    text-align: center;
    font-size: xx-large;
    padding-block: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page1 #blocp1 div a {
    font-size: 1em;
    padding-block: 12px;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page1 #blocp1 div a {
    padding-block: 20px;
    font-size: 21px;
  }
}
body #page2 {
  height: 100vh;
}
@media (max-width: 575px) {
  body #page2 {
    height: 220vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page2 {
    height: 280vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 {
    height: 70vh;
  }
}
body #page2 #blocp2 {
  width: 80%;
  height: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page2 #blocp2 {
    flex-direction: column;
    width: 70%;
    height: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 {
    width: 90%;
  }
}
body #page2 #blocp2 .sblocp2 {
  width: 30%;
  height: 100%;
  position: relative;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page2 #blocp2 .sblocp2 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 .sblocp2 {
    height: 75%;
  }
}
body #page2 #blocp2 .sblocp2 .imgp2 img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 15px 0px;
}
body #page2 #blocp2 .sblocp2 .carte {
  position: absolute;
  bottom: -20px;
  background-color: white;
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page2 #blocp2 .sblocp2 .carte {
    height: 35%;
    bottom: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 15px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 .sblocp2 .carte {
    height: 70%;
    bottom: -75px;
    bottom: -120px;
  }
}
body #page2 #blocp2 .sblocp2 .carte div {
  width: 90%;
  margin: auto;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page2 #blocp2 .sblocp2 .carte div {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 .sblocp2 .carte div {
    width: 80%;
  }
}
body #page2 #blocp2 .sblocp2 .carte div a {
  text-decoration: none;
  color: #4BA87D;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}
@media (max-width: 575px) {
  body #page2 #blocp2 .sblocp2 .carte div a {
    font-size: 1em;
    margin-top: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page2 #blocp2 .sblocp2 .carte div a {
    font-size: 2em;
  }
}
body #page2 #blocp2 .sblocp2 .carte div p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  line-height: 1.625em;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 .sblocp2 .carte div p {
    font-size: 1em;
  }
}
@media (max-width: 575px) {
  body #page2 #blocp2 .sblocp2 .carte div p {
    font-size: 1em;
    margin-bottom: 5px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page2 #blocp2 .sblocp2 .carte div p {
    font-size: 1.8em;
    line-height: normal;
    margin-bottom: 15px;
  }
}
body #page2 #blocp2 article {
  width: 30%;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page2 #blocp2 article {
    width: 100%;
  }
}
body #page2 #blocp2 article h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 48px;
  margin-top: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 article h2 {
    font-size: 1.8em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page2 #blocp2 article h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 575px) {
  body #page2 #blocp2 article h2 {
    font-size: 2em;
    line-height: normal;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page2 #blocp2 article h2 {
    line-height: 65px;
    font-size: 3.8em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 article h2 {
    line-height: 31px;
  }
}
body #page2 #blocp2 article p {
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  line-height: 1.625em;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page2 #blocp2 article p {
    font-size: 1em;
  }
}
@media (max-width: 575px) {
  body #page2 #blocp2 article p {
    font-size: 1.3em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page2 #blocp2 article p {
    font-size: 2em;
    line-height: normal;
  }
}
body #page3 {
  height: 120vh;
}
@media (max-width: 575px) {
  body #page3 {
    height: 300vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 {
    height: 300vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 {
    height: 80vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 {
    height: 100vh;
  }
}
body #page3 #blocp3 {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 {
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 {
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 {
    width: 90%;
  }
}
body #page3 #blocp3 #sblocimg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35%;
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocimg {
    width: 90%;
    height: 35%;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    margin-block: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocimg {
    width: 90%;
    height: 50%;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    margin-block: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocimg {
    height: 30%;
  }
}
body #page3 #blocp3 #sblocimg .imgcont {
  position: relative;
  width: 30%;
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocimg .imgcont {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocimg .imgcont {
    width: 100%;
    height: 30%;
  }
}
body #page3 #blocp3 #sblocimg .imgcont img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
}
body #page3 #blocp3 #sblocimg .imgcont div {
  position: absolute;
  bottom: 30%;
  left: 10%;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocimg .imgcont div {
    bottom: 42%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 #sblocimg .imgcont div {
    bottom: 50%;
  }
}
body #page3 #blocp3 #sblocimg .imgcont div h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.125em;
  color: white;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocimg .imgcont div h5 {
    font-size: 1.4em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 #sblocimg .imgcont div h5 {
    font-size: 1.6em;
  }
}
body #page3 #blocp3 #sblocimg .imgcont div span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.188em;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocimg .imgcont div span {
    font-size: 0.8em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 #sblocimg .imgcont div span {
    font-size: 1em;
  }
}
body #page3 #blocp3 #sblocp31 {
  width: 80%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp31 {
    height: 30%;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp31 {
    width: 60%;
  }
}
body #page3 #blocp3 #sblocp31 h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp31 h2 {
    font-size: 1.8em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 #sblocp31 h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp31 h2 {
    font-size: 2.2em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 h2 {
    font-size: 3.8em;
  }
}
body #page3 #blocp3 #sblocp31 div {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 div {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp31 div {
    width: 90%;
    height: 80%;
  }
}
body #page3 #blocp3 #sblocp31 div input {
  width: 60%;
  vertical-align: middle;
  margin: 0px 16px 0px 0;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-color: #9F9F9F;
  border-radius: 5px;
  font-size: 1.8em;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 div input {
    width: 100%;
    padding: 16px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp31 div input {
    font-size: 1em;
    padding: 12px;
  }
}
body #page3 #blocp3 #sblocp31 div button {
  background-color: #4BA87D;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 30px;
  padding-block: 20px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  border: none;
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp31 div button {
    text-align: center;
    padding-inline: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 div button {
    text-align: center;
    font-size: xx-large;
    padding-block: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp31 div button {
    font-size: 1em;
    padding-block: 12px;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 div button {
    font-size: x-large;
  }
}
body #page3 #blocp3 #sblocp31 span {
  color: #4BA87D;
  font-size: 1.6em;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-left: 140px;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp31 span {
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp31 span {
    font-size: 0.875em;
  }
}
body #page3 #blocp3 #sblocp32 {
  width: 80%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp32 {
    height: 30%;
    width: 100%;
    margin-top: 100px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 {
    width: 100%;
    margin-top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp32 {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 #sblocp32 {
    width: 90%;
  }
}
body #page3 #blocp3 #sblocp32 h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page3 #blocp3 #sblocp32 h2 {
    font-size: 1.8em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page3 #blocp3 #sblocp32 h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp32 h2 {
    font-size: 2.2em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 h2 {
    font-size: 3.8em;
  }
}
body #page3 #blocp3 #sblocp32 #sbloclogos {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos div {
    width: 50%;
    align-items: center;
  }
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos div #dragon, body #page3 #blocp3 #sblocp32 #sbloclogos div #radio {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos div #dragon, body #page3 #blocp3 #sblocp32 #sbloclogos div #radio {
    margin-left: 120px;
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos div #game {
    margin-left: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos div #game {
    margin-left: 60px;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page3 #blocp3 #sblocp32 #sbloclogos div img {
    max-width: 100%;
    max-height: 120%;
  }
}
body #page4 {
  height: 45vh;
  background-color: #4BA87D;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page4 {
    height: 60vh;
  }
}
body #page4 div {
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 360px) and (max-width: 767px) {
  body #page4 div {
    width: 80%;
  }
}
body #page4 div h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3.8em;
  font-weight: 900;
  margin-top: 0;
}
@media (max-width: 575px) {
  body #page4 div h2 {
    font-size: 2.8em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page4 div h2 {
    font-size: 5.5em;
    line-height: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page4 div h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body #page4 div h2 {
    font-size: 3em;
  }
}
body #page4 div a {
  background-color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 30px;
  padding-block: 20px;
  text-decoration: none;
  color: #4BA87D;
  white-space: nowrap;
  width: 30%;
  margin: auto;
}
@media (max-width: 575px) {
  body #page4 div a {
    text-align: center;
    padding-inline: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page4 div a {
    text-align: center;
    font-size: xx-large;
    padding-block: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body #page4 div a {
    font-size: 1em;
    padding-block: 12px;
  }
}
@media (max-width: 575px) {
  body #page4 div a {
    padding-right: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body #page4 div a {
    padding-block: 20px;
    font-size: 21px;
  }
}/*# sourceMappingURL=style.css.map */