header {
  height: 15vh;
}
header #mobheader {
  width: 100%;
  display: flex;
  align-items: center;
  /* Style the navigation menu */
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* Style the hamburger menu */
  /* Add a grey background color on mouse-over */
}
@media (min-width: 768px) {
  header #mobheader {
    display: none;
  }
}
header #mobheader .topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}
header #mobheader .topnav #myLinks a {
  font-family: "Raleway", sans-serif;
}
header #mobheader .topnav div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #mobheader .topnav div img {
  width: 5em;
  height: 2.6em;
}
header #mobheader .topnav div h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
header #mobheader .topnav div #sign {
  background-color: #4BA87D;
  font-family: "Raleway";
  font-weight: 800;
  color: white;
  padding-inline: 0.813em;
  padding-block: 0.375em;
  margin-left: 2.375em;
}
header #mobheader .topnav #myLinks {
  display: none;
  background-color: #4BA87D;
}
header #mobheader .topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  display: inline-block;
}
header #mobheader .topnav a.icon {
  display: block;
  position: absolute;
  top: 35px;
}
header #mobheader .topnav a:hover {
  color: black;
}
header #lheader {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  header #lheader {
    display: none;
  }
}
header #lheader div {
  display: flex;
  align-items: center;
  width: 40%;
}
header #lheader div h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.188em;
}
header #lheader div img {
  width: 8.063em;
  height: 4.031em;
}
header #lheader nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #lheader nav ul {
  width: 65%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header #lheader nav ul a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.063em;
  letter-spacing: 1.27px;
  position: relative;
}
header #lheader nav ul a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 100%;
  height: 5px;
  background-color: #4BA87D;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header #lheader nav ul a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
header #lheader nav .btn {
  text-decoration: none;
  background-color: #4BA87D;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  padding-inline: 20px;
  padding-block: 11px;
  letter-spacing: 1.27px;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer #blocf {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
footer #blocf #sblocf1 {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: space-between;
}
footer #blocf #sblocf1 #logo {
  display: flex;
  align-items: center;
  align-self: baseline;
  width: 40%;
}
footer #blocf #sblocf1 #logo span {
  font-size: 1.875em;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
footer #blocf #sblocf1 #linklist {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
footer #blocf #sblocf1 #linklist ul {
  list-style: none;
}
footer #blocf #sblocf1 #linklist ul li {
  margin-bottom: 10px;
}
footer #blocf #sblocf1 #linklist ul li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: black;
}

body #hero {
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}
body #hero #blochero {
  display: flex;
  width: 75%;
  height: 80%;
  margin: auto;
  justify-content: flex-end;
}
body #hero #blochero article {
  position: absolute;
  top: 10%;
  right: 51%;
  width: 35%;
}
body #hero #blochero article h2 {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 4em;
  font-weight: 900;
  margin-block: 0;
}
body #hero #blochero article p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 19px;
  width: 70%;
}
body #hero #blochero article div {
  margin-top: 50px;
  display: flex;
}
body #hero #blochero article div #trynow {
  background-color: #4BA87D;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 47px;
  padding-block: 20px;
  text-decoration: none;
  color: white;
}
body #hero #blochero article div #getademo {
  background-color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 47px;
  padding-block: 20px;
  text-decoration: none;
  color: #4BA87D;
  margin-left: 45px;
  box-shadow: inset 0 0 0 3px #4BA87D;
}
body #hero #blochero div img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body #page1 {
  height: 70vh;
}
body #page1 #blocp1 {
  height: 80%;
  width: 60%;
  margin: auto;
  background-image: url("../assets/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  text-align: center;
}
body #page1 #blocp1 div {
  align-self: center;
  margin: auto;
}
body #page1 #blocp1 div h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 4em;
  font-weight: 900;
}
body #page1 #blocp1 div a {
  background-color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 47px;
  padding-block: 20px;
  text-decoration: none;
  color: #4BA87D;
}
body #page2 {
  height: 100vh;
}
body #page2 #blocp2 {
  width: 80%;
  height: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
body #page2 #blocp2 #sblocp21 {
  width: 30%;
  height: 100%;
  position: relative;
}
body #page2 #blocp2 #sblocp21 #imgp21 img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 15px 0px;
}
body #page2 #blocp2 #sblocp21 #carte1 {
  position: absolute;
  bottom: -20px;
  background-color: white;
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #page2 #blocp2 #sblocp21 #carte1 div {
  width: 90%;
  margin: auto;
}
body #page2 #blocp2 #sblocp21 #carte1 div a {
  text-decoration: none;
  color: #4BA87D;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}
body #page2 #blocp2 #sblocp21 #carte1 div p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  line-height: 1.625em;
  font-weight: 500;
}
body #page2 #blocp2 #sblocp22 {
  width: 30%;
  height: 100%;
  position: relative;
}
body #page2 #blocp2 #sblocp22 #imgp22 {
  width: 100%;
}
body #page2 #blocp2 #sblocp22 #imgp22 img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 15px 0px;
}
body #page2 #blocp2 #sblocp22 #carte2 {
  position: absolute;
  bottom: -20px;
  background-color: white;
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #page2 #blocp2 #sblocp22 #carte2 div {
  width: 90%;
  margin: auto;
}
body #page2 #blocp2 #sblocp22 #carte2 div a {
  text-decoration: none;
  color: #4BA87D;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}
body #page2 #blocp2 #sblocp22 #carte2 div p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  line-height: 1.625em;
  font-weight: 500;
}
body #page2 #blocp2 article {
  width: 30%;
}
body #page2 #blocp2 article h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 48px;
}
body #page2 #blocp2 article p {
  font-family: "Raleway", sans-serif;
  font-size: 1.8em;
  line-height: 1.625em;
  font-weight: 500;
}
body #page3 {
  height: 120vh;
}
body #page3 #blocp3 {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #page3 #blocp3 #sblocimg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45%;
}
body #page3 #blocp3 #sblocimg div {
  width: 30%;
}
body #page3 #blocp3 #sblocimg div img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
}
body #page3 #blocp3 #sblocp31 {
  width: 60%;
  display: flex;
  flex-direction: column;
}
body #page3 #blocp3 #sblocp31 h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}
body #page3 #blocp3 #sblocp31 div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body #page3 #blocp3 #sblocp31 div input {
  width: 60%;
  vertical-align: middle;
  margin: 0px 16px 0px 0;
  padding: 20px;
  background-color: #fff;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  font-size: 1.8em;
}
body #page3 #blocp3 #sblocp31 div button {
  background-color: #4BA87D;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 47px;
  padding-block: 20px;
  text-decoration: none;
  color: white;
  border: none;
}
body #page3 #blocp3 #sblocp31 span {
  color: #4BA87D;
  font-size: 1.6em;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
}
body #page3 #blocp3 #sblocp32 {
  width: 80%;
  display: flex;
  flex-direction: column;
}
body #page3 #blocp3 #sblocp32 h2 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
}
body #page3 #blocp3 #sblocp32 #sbloclogos {
  display: flex;
  justify-content: space-between;
}
body #page4 {
  height: 45vh;
  background-color: #4BA87D;
  text-align: center;
  display: flex;
  flex-direction: column;
}
body #page4 div {
  margin: auto;
  display: flex;
  flex-direction: column;
}
body #page4 div h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 4em;
  font-weight: 900;
  margin-top: 0;
}
body #page4 div a {
  background-color: white;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-inline: 47px;
  padding-block: 20px;
  text-decoration: none;
  color: #4BA87D;
  width: 30%;
  margin: auto;
}/*# sourceMappingURL=style.css.map */